# Student Grade Prediction Model

## Authors:
- Samuel Nicklaus
- Jacob Kindle
- Lane Swartzendruber
- Alejandro Mirafuentes

## Introduction

In this project, we tackle the [classification/regression] task of [briefly describe the task]. Our dataset is sourced from [mention data source here, if applicable]. We aim to [briefly explain the objective of the task].

In [14]:
# imports
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import seaborn as sns
from sklearn import (datasets, neighbors,
                     naive_bayes,
                     model_selection as skms,
                     linear_model, dummy,
                     metrics,
                     pipeline,
                     preprocessing as skpre)
import ipywidgets as widgets
from ipywidgets import interact
from sklearn.preprocessing import OneHotEncoder

# Data Description

Talk about data here

In [15]:
df = pd.read_csv('student.csv')
df.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

categorical_vars = ['Sex', 'High_School_Type', 'Scholarship', 'Additional_Work', 'Sports_activity', 'Transportation', 'Attendance', 'Reading', 'Notes', 'Listening_in_Class', 'Project_work']

one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_vars = one_hot_encoder.fit_transform(df[categorical_vars])
encoded_vars_df = pd.DataFrame(encoded_vars, columns=one_hot_encoder.get_feature_names_out(categorical_vars))

df.drop(categorical_vars, axis=1, inplace=True)
encoded_vars_df.drop(['Attendance_3','Notes_6','Listening_in_Class_6'], axis=1, inplace=True)
df_encoded = pd.concat([df, encoded_vars_df], axis=1)

print(df_encoded.columns)
df_encoded.head()

Index(['Student_Age', 'Weekly_Study_Hours', 'Grade', 'Sex_Female', 'Sex_Male',
       'High_School_Type_Other', 'High_School_Type_Private',
       'High_School_Type_State', 'Scholarship_100%', 'Scholarship_25%',
       'Scholarship_50%', 'Scholarship_75%', 'Scholarship_nan',
       'Additional_Work_No', 'Additional_Work_Yes', 'Sports_activity_No',
       'Sports_activity_Yes', 'Transportation_Bus', 'Transportation_Private',
       'Attendance_Always', 'Attendance_Never', 'Attendance_Sometimes',
       'Reading_No', 'Reading_Yes', 'Notes_No', 'Notes_Yes',
       'Listening_in_Class_No', 'Listening_in_Class_Yes', 'Project_work_No',
       'Project_work_Yes'],
      dtype='object')

,Student_Age,Weekly_Study_Hours,Grade,Sex_Female,Sex_Male,High_School_Type_Other,High_School_Type_Private,High_School_Type_State,Scholarship_100%,Scholarship_25%,...,Attendance_Never,Attendance_Sometimes,Reading_No,Reading_Yes,Notes_No,Notes_Yes,Listening_in_Class_No,Listening_in_Class_Yes,Project_work_No,Project_work_Yes
0,21,0,AA,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,20,0,AA,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
2,21,2,AA,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,18,2,AA,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,22,12,AA,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0